<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198576614116-o93u206d0m03f3d51mvre4fc98i1ug16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198576614116-o93u206d0m03f3d51mvre4fc98i1ug16</string>
	<key>API_KEY</key>
	<string>AIzaSyDm0baoWHPtU8WymI-u9DvxWunlmCzU8fk</string>
	<key>GCM_SENDER_ID</key>
	<string>198576614116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emergencyServiceApp</string>
	<key>PROJECT_ID</key>
	<string>emergencyserviceapp-aec43</string>
	<key>STORAGE_BUCKET</key>
	<string>emergencyserviceapp-aec43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198576614116:ios:08e463a559550e83721af1</string>
</dict>
</plist>